@import "../../styles/variables.scss";
@import "../../styles/flex.scss";
@import "../../styles/mixins.scss";

.FAQMain{
    margin: 10vh 2rem 0 2rem;
    .faqContainer{
        background-color: black;
        color: white;
        border-radius: 3rem;
        .content{
            position: relative;
            padding: 2rem;
            .flexRow{
                justify-content: space-between;
                @extend .flexRow !optional;
                cursor: pointer;
            }
            .imgContainer{
                height: 40px;
                width: 40px;
                @extend .imgContainer !optional;
                img{
                    object-fit: contain;
                }
                .downArrow{
                    transform: rotate(90deg);
                }
                .upArrow{
                    transform: rotate(-90deg);
                }          
            }
            p{
                margin-top: 5vh;
                font-size: $font-size-text;
            }
        }
        .open{
            display: block;
        }
        .close{
            display: none;
        }
        margin-bottom: 10vh;

    }
}