@import "../../styles/flex.scss";
@import "../../styles/variables.scss";
@import "../../styles/container.scss";
@import "../../styles/mixins.scss";

.navMain {
  @extend .flexRow !optional;
  justify-content: space-between;
  position: relative; // Change this to `sticky`
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; // Make sure it appears above other elements

  &.sticky {
    position: fixed;
    top: 0;
    backdrop-filter: blur(15px);
    // background-color: white;
    box-shadow: 0 4px 2px 0 rgba(201, 201, 201,0.3); 
    li{
        border-radius: .5rem;
    }
  }

  .navLeft {
    margin-left: 1%;
    @extend .flexRow !optional;
    gap: .8rem;
    @include respond-to(xs) {
      gap: .2rem;
    }
    cursor: pointer;

    h1 {
      font-family: 'Poppins-Bold';
      @include respond-to(xs){
        font-size: 1.5rem;
      }
    }
    .imgContainer{
      height: 70px;
      width: 70px;
      img{
        object-fit: cover;
      }
    }
  }

  .navRight {
    @extend .flexRow !optional;
    cursor: pointer;

    .desktop {
      @include respond-to(xs) {
        display: none;
      }

      li {
        list-style: none;
        display: inline;
        margin-right: 2rem;
        font-family: 'Poppins-Medium';
        font-weight: 550;
        font-size: 1rem;
        padding: 1rem;

        &.active {
          color: $color-gray;
        }
      }
    }
  }
}
