@import "../../styles/flex.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navMain{
    // border:1px solid blue;
    @extend .flexRow !optional;
    justify-content: space-between;
    .navLeft{
        margin-left: 1%;
        @extend .flexRow !optional;
        gap: .8rem;
        @include respond-to(xs){
            gap:.2rem;
        }
        cursor: pointer;
        h1{
            font-family: 'Poppins-Bold';
        }
    }
    .navRight{
        @extend .flexRow !optional;
        cursor: pointer;
        .desktop{
            @include respond-to(xs){
                display: none;
            }
            li{
                list-style: none;
                display: inline;
                margin-right: 2rem;
                font-family: 'Poppins-Medium';
                font-weight: 550;
                font-size: 1rem;
                padding: 1rem;
            }  
            .active{
                color: $color-gray;
            }
        }
    }
}


  