@import "../../styles/variables.scss";
@import "../../styles/flex.scss";
@import "../../styles/mixins.scss";

.heroMain{
    font-size: $font-size-hero;
    @include respond-to(xs){
        font-size: $font-mobile-size-hero;
        margin: 1rem;
        line-height: 1.5;
    }
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-family: 'Roboto-Header';
    }
    .heroBtnContainer{
        @extend .flexRow !optional;
        // border:1px solid red;
        margin-top: 3rem;
        gap:2rem;
        @include respond-to(xs){
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}