@font-face {
    font-family: 'Roboto-Header';
    src: url("../styles/fonts/Roboto/RobotoCondensed-Bold.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins-Medium';
    src: url("../styles/fonts/Poppins/Poppins-Medium.ttf") format('woff2');
  }
@font-face {
    font-family: 'Poppins-Bold';
    src: url("../styles/fonts/Poppins/Poppins-Bold.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins-Semibold';
    src: url("../styles/fonts/Poppins/Poppins-SemiBold.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins-Regular';
    src: url("../styles/fonts/Poppins/Poppins-Regular.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins-Regular';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
 
  h2,p{
    padding: 0;
    margin: 0;
  }
/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none; 
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; 
  overflow-x: hidden;
}

/* Hide scrollbar for Internet Explorer and older Edge */
html {
  -ms-overflow-style: none; 
}

