@font-face {
    font-family: 'Roboto-Header';
    src: url("../styles/fonts/Roboto/RobotoCondensed-Bold.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins-Medium';
    src: url("../styles/fonts/Poppins/Poppins-Medium.ttf") format('woff2');
  }
@font-face {
    font-family: 'Poppins-Bold';
    src: url("../styles/fonts/Poppins/Poppins-Bold.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins-Regular';
    src: url("../styles/fonts/Poppins/Poppins-Regular.ttf") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins-Regular';
    padding: 0;
    margin: 0;
  }
  p{
    padding: 0;
    margin: 0;
  }