@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/container.scss";

.main{
    .imgContainer{
        position: absolute;
        height: 400px;
        width: 400px;
        img{
            object-fit: contain !important;
        }
        @include respond-to(xs){
            width: 200px;
            height: 200px;
        }
    }
    .imgContainer:nth-child(1){
        right:-100px;
        z-index: -1;
        height: 500px;
        width: 500px;
        @include respond-to(xs){
            width: 200px;
            height: 200px;
            right:-50px;
            top:0vh;
        }   
    }
    .imgContainer:nth-child(2){
        top:-5%;
        left:-20%;
        height: 800px;
        width: 900px;
        transform: rotate(35deg);
        @include respond-to(xs){
            top:30vh;
            height: 300px;
            width: 300px;
            left:-20%;
        }
        // @include respond-to(xxs){
        //     height: 200px;
        //     width: 200px;
        // }
        z-index: -1;
    }
    .section{
        margin-bottom: 20vh;
        min-height: 90vh;
        // border: 1px solid red;
        // position: relative;
            .heading{
            text-align: center;
            color: $color-secondary;
            font-family: 'Roboto-Header';
            font-size: $font-size-heading;
            @include respond-to(xs){
                font-size: $font-mobile-size-heading;
            }
        }
    }

}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vh;
    margin: 5rem;
    @include respond-to(xs){
        margin: 10vh 0 0 0 !important;
        grid-template-columns: 1fr;
        place-items: center;
        gap:5vh;
    }
}