@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/container.scss";

.main{
    .imgContainer{
        position: absolute;
        height: 400px;
        width: 400px;
        img{
            object-fit: contain !important;
        }
 
    }
    .imgContainer:nth-child(1){
        right:-10%;
        z-index: -1;
        height: 500px;
        width: 500px;
        @include respond-to(xs){
            width: 300px;
            height: 300px;
            right: 0;
            img{
                position: absolute;
                right:-20%;
            }
            top:0vh;
        }   
    }
    .imgContainer:nth-child(2){
        top:-8%;
        left:-15%;
        height: 700px;
        width: 700px;
        transform: rotate(35deg);
        @include respond-to(xs){
            top:30vh;
            height: 400px;
            width: 400px;
            left:-30%;
        }

        z-index: -1;
    }
    .section{
        @extend .section !optional;
    }
    .section2{
        min-height: fit-content !important;
        @extend .section !optional;
    }
    .section2:last-child {
        margin-bottom: 0 !important;
    }      

}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vh;
    margin: 5rem;
    @include respond-to(xs){
        margin: 10vh 0 0 0 !important;
        grid-template-columns: 1fr;
        place-items: center;
        gap:5vh;
    }
}
.heading{
    @extend .heading !optional;
}