@import "../../styles/variables.scss";
@import "../../styles/container.scss";
@import "../../styles/flex.scss";
@import "../../styles/mixins.scss";

.storiesMain {
    margin: 0;
    display: flex;
    flex-direction: row;

    @include respond-to(xs) {
        flex-direction: column;
        gap:10vh;
        padding: 2rem;
    }

    .subHeading {
        @include respond-to(xs) {
            font-size: $font-mobile-size-text;
        }
    }
    gap:3%;
    overflow-x: auto;
    padding:5vh 1vh 5vh 5vh;

    .storyDiv {
        @extend .flexCol !optional;
        justify-content: flex-start;
        text-align: center;
        border-radius: 3rem;

        // min-width: 100%;
        @include respond-to(xs) {
            min-width: 100%;
        }

        .sucessTop {
            width: 90%;
            @extend .flexRow !optional;
            justify-content: flex-start;
            margin-left: 5%;
            gap: 2rem;

            .storyNameDiv {
                @extend .flexCol !optional;
                align-items: flex-start;

                .subHeading {
                    font-size: 22px;
                }

                h3 {
                    margin: 0;
                }

                text-align: left;
            }
        }

        .imgContainer {
            height: 10vh;
            width: auto;
            // @include respond-to(xs) {
            //     height: 10%;
            //     width: auto;
            // }
           @extend .imgContainer !optional;
            border-radius: 50%;
            margin: 5vh 0;
        }

        .course {
            color: $color-secondary;
        }

        .para {
            padding: 0 3rem 2rem 3rem;
            text-align: left;
            margin: 0;

            @include respond-to(xs) {
                font-size: 15px;
                padding: 1rem 2rem;
            }
        }

        box-shadow: #{$shadow-x-offset} #{$shadow-y-offset} #{$shadow-blur-radius} #{$shadow-color};
    }
}
