@import "../../styles/variables.scss";
@import "../../styles/container.scss";
@import "../../styles/flex.scss";
@import "../../styles/mixins.scss";


  
.storiesMain{
    margin: 2rem;
    @extend .flexRow !optional;
    gap:2rem;
    .storyDiv{
        @extend .flexCol !optional;
        border-radius: 3rem;
        height: 90vh;
        .imgContainer{
            height: 200px;
            width: 200px;
            @extend .imgContainer !optional;
            border-radius: 50%;
        }
        .course{
            color:$color-secondary;
        }
        p{
            padding:1rem 2rem;
            text-align: center;
        }
        box-shadow: #{$shadow-x-offset} #{$shadow-y-offset} #{$shadow-blur-radius} #{$shadow-color};
    }
}