@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.imgContainer{
    overflow:hidden;
    img{
        height: 100%;
        width:100%;
        object-fit:contain;
    }
}

.gradientContainer {
  border-radius: 5rem;
  box-shadow: #{$shadow-x-offset} #{$shadow-y-offset} #{$shadow-blur-radius} #{$shadow-color};
  @include respond-to(xs){
    border-radius: 2rem;
  }

}

.subHeading{
  font-family: 'Poppins-Bold';
  font-size: $font-size-subheading;
}
.centerContainer {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.para{
  color:$color-gray;
  font-size: $font-size-text;
  line-height: 1.5;
  margin-top: 3rem;
}
