$xxs-screen : 380px;
$xs-screen: 575px;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$xlarge-screen: 1200px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == xxs{
    @media only screen and (max-width:$xxs-screen) {
      @content;
    }
  }
  @else if $breakpoint == xs {
    @media only screen and (max-width:$medium-screen) {
      @content;
    }
  }
  @else if $breakpoint == medium {
    @media only screen and (
        min-width: $medium-screen) {
      @content;
    }
  } @else if $breakpoint == large {
    @media only screen and (min-width: $large-screen) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint provided. Please use 'small', 'medium', or 'large'.";
  }
}
