$color-primary: black;
$color-secondary: #eb1c4c;
$color-gray: #9C9C9C;

$font-size-hero: 1.9rem;
$font-size-heading:52px;
$font-size-subheading:36px;
$font-size-text:24px;

$text-primary-color: black;
$text-primary-secondary: rgb(190, 185, 185);