$color-primary: black;
$color-secondary: #FF3364;
$color-gray: #757474;

$font-size-hero: 1.9rem;
$font-size-heading:52px;
$font-size-subheading:30px;
$font-size-text:20px;

$font-mobile-size-hero: 1rem;
$font-mobile-size-heading:42px;
$font-mobile-size-subheading:30px;
$font-mobile-size-text:20px;

$text-primary-color: black;
$text-primary-secondary: rgb(190, 185, 185);

$shadow-color: rgba(0, 0, 0, 0.2);
$hover-color: $color-secondary;
$shadow-x-offset: 0px;
$shadow-y-offset: 4px;
$shadow-blur-radius: 10px;