$color-primary: black;
$color-secondary: #FF3364;
$color-gray: #757474;

$font-size-hero: 1.9rem;
$font-size-heading:52px;
$font-size-subheading:30px;
$font-size-text:20px;

$text-primary-color: black;
$text-primary-secondary: rgb(190, 185, 185);